@import url("https://fonts.googleapis.com/css2?family=Inter:wght@320;400;500;750;900&display=swap");

body {
    color: #fff;
}

* {
    font-family: "Inter", "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

/* nav */

.nav {
    background: #fff;
}
.nav .nav-item {
    color: #aeaeae;
    text-decoration: none;
    transition: color 0.3s ease-out;
}
.nav .nav-item:hover {
    color: #000;
}

.nav-container {
    margin-left: auto;
    margin-right: auto;
}

.nav-main {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.nav-dis {
    padding-right: 2rem;
    padding-left: 2rem;
}

/* nav end */


/* home start */

.home {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.home-title {
    font-size: 1.4em;
    line-height: 1.3em;
    font-weight: 550;
    color: #1a202c;
}

.home-para {
    font-size: 1.3em;
    line-height: 1.4em;
    font-weight: 400;
    color: #758397;
    font-weight: 500;
    padding: 2rem 0;
}

.home-name {
    font-size: 2em;
    font-weight: 900;
    line-height: 1.4em;
}

/* home end */

/* about start */

.desc-text {
    padding: 2rem 0;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* about end */

/* projects */

.projects {
    background: #e8e9ee;
    padding: 50px 20px;
}

.projects a {
    margin-top: 35px;
    color: inherit;
    text-decoration: none;
}

.projects-title {
    width: auto;
    text-align: center;
    padding: 0 20px 10px;
    color: #1a202c;
}

.projects-item {
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    -webkit-box-shadow: 0px -2px 8px #ffffff66, 0px 4px 10px #353a5018;
    box-shadow: 0px -2px 8px #ffffff66, 0px 4px 10px #353a5018;
    background: #ffffff;
}

.projects-img {
    width: 95%;
    height: 140px;
    margin: 0 auto 1em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    border: solid 3px #00000022;
    -webkit-box-shadow: 0px 4px 10px #00000011;
    box-shadow: 0px 4px 10px #00000011;
}

.projects-desc {
    font-size: 0.9em;
}

/* projects end */

/* blog start */

.expanded-card {
    overflow: hidden;
}

.section {
    overflow: hidden;
    margin-bottom: 50px;
}

.data-item {
    margin: 0 0 16px;
}

.data-item .inline {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
}

.inline {
    display: inline;
}

.description {
    color: #758397;
}

.link-blog {
    text-decoration: none;
}

/* blog end */

/* footer */

.footer {
    background: #fff;
    text-align: center;
    margin: auto;
    padding: 0px 0px 20px;
    color: #758397;
}

.footer-links {
    padding: 30px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-links a {
    font-size: 1.1em;
    margin: 0px 10px;
    text-decoration: none;
    color: black;
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: white;
}

/* footer end */
